@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Open Sans';
  src: local('Open Sans'),
       url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Open Sans';
  src: local('Open Sans Bold'),
       url('../fonts/opensansbold.woff2') format('woff2'),
       url('../fonts/opensansbold.woff') format('woff');
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'Open Sans';
  src: local('Open Sans Light'),
       url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff');
}


// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/

.clearfix::before,
.clearfix::after {
  content: ' ';
  display: table;
}

.clearfix::after {
  clear: both;
}

