
//
// VARIABLES
//

// Colors
$blue: #4183c4;

// Grays
$black: #000;
$darkergray: #222;
$darkgray: #333;
$gray: #666;
$lightgray: #eee;
$white: #fff;

// Font stacks
$helvetica: "Open Sans", Helvetica, Arial, sans-serif;
$helveticaneue: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}